<div class="modal" id="modalDetail" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                Smartphone X
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 d-flex justify-content-center align-item-center">
                        <img class="img-fluid img-thumbnail" src="https://placehold.co/200x200.png" alt="">
                    </div>
                    <div class="col-lg-8 sm-mt-1">
                        <!--  -->
                        <div>
                            <h4>Smartphone x | 2024</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <!--  -->
                        <div>
                            <h6>Category</h6>
                            <p>Computers</p>
                        </div>
                        <!-- price, sku, weight -->
                        <div class="d-flex justify-content-between">
                            <span>
                                <h6>Price</h6>
                                <p>$599.99</p>
                            </span>
                            <span>
                                <h6>SKU</h6>
                                <p>200</p>
                            </span>
                            <span>
                                <h6>Weight</h6>
                                <p>300 gm</p>
                            </span>
                        </div>
                        <!-- Supplier id -->
                        <div>
                            <h6>Supplier</h6>
                            <p>s2002 | Awesome Computer Supplier GmBH</p>
                        </div>
                        <!-- Modified date -->
                        <div>
                            <h6>Modified Date</h6>
                            <p>24-01-2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>