<!-- The Modal -->
<div class="modal" id="modalApplication" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title">All Applications</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body for lg screen -->
      <div class="modal-body sm-d-none modal-body-lg">
        <div class="row">
          {% for app in modal_applications %}
          <div class="col-lg-2 text-center p-4">
            <a href="{% url 'single_page' %}" class="box">
              {{ app.icon|safe }}
              <p class="py-2 mb-0">{{ app.title }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Modal body for lg screen ends -->
      <!-- todo -->
      <div class="modal-body modal-body-sm">
        <ul class="list-group">
          {% for app in modal_applications %}
          <li class="list-group-item">
            <a href="#" class="amj-a">
              {{ app.icon|safe }}
              {{ app.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>