{% extends 'base.html' %}
{% load static %}

{% block title %}
Expense Report
{% endblock title %}


{% block header %}
{% endblock header %}

{% block main_content %}

{% include 'components/page-title.html' %}

<!-- 1st row -->
<div class="row mt-4 sm-mt-0">
    <div class="col-md-12 col-lg-6">
        <!-- boxes -->
        <div class="row sm-mt-0">
            {% for i in expense_report.total_data.budgets %}
            <div class="col-md-4 col-lg-4 col-xl-4 sm-mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>{{ i.title }}</h6>
                        <h2>
                            {{ i.value }}
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- boxes ends -->

        <!-- Jan expenses -->
        <div class="row mt-4 sm-mt-0">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="my-2">January Expenses</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table overflow-scroll table-hover">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Budget</th>
                                        <th>Expense</th>
                                        <th>-/*</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in expense_report.january_expenses %}
                                    <tr>
                                        <td>
                                            {{ i.category }}
                                        </td>
                                        <td>{{ i.budget }}K</td>
                                        <td>{{ i.expense }}K</td>
                                        <td>{{ i.diff }}%</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jan expenses ends -->
    </div>

    <!-- bar chart -->
    <div class="col-lg-6 sm-mt-3">
        <div class="card">
            <div class="card-header">
                <h6 class="my-2">Expenses by Sub-categories</h6>
            </div>
            <div class="card-body">
                <canvas id="subCategoryChart" style="height: 420px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <!-- bar chart ends -->
</div>
<!-- 1st row ends -->

<!-- 2nd row -->
<div class="row mt-4 sm-mt-3">
    <!-- expenseQuartlyReport -->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="expenseQuartlyReport"></div>
            </div>
        </div>
    </div>
    <!-- expenseQuartlyReport ends -->

    <!-- table -->
    <div class="col-lg-8 sm-mt-3">
        <div class="card">
            <div class="card-header">
                <h6 class="my-2">Detailed expense report</h6>
            </div>
            <div class="card-body table-responsive">
                <div class="table-responsive">
                    <table class="table overflow-scroll table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Expense</th>
                                <th>Category</th>
                                <th>Created by</th>
                                <th>Approved by</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in expense_report.january_expenses_details %}
                            <tr>
                                <td>{{ i.title }}</td>
                                <td>${{ i.expense }}K</td>
                                <td>{{ i.category }}</td>
                                <td>{{ i.created_by }}</td>
                                <td>{{ i.approved_by }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- table ends-->
</div>
<!-- 2nd row ends -->
{% endblock main_content %}

{% block footer %}
<script src="{% static 'js/expenses.js' %}"></script>
{% endblock footer %}