{% extends 'base.html' %}

{% block main_content %}
<!-- page title -->
<div class="pageTitle">
    <h3>Dashboard</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Generate report</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>
<!-- page title ends -->

<!-- row for cardQuickInfo -->
<div class="row mt-4" id="sectionDashboardQuickInfo">
    {% for i in quick_info_data %}
    <div class="col-lg-3 col-sm-12 col-xs-12 sm-mb-1">
        <div class="card cardQuickInfo">
            <div class="card-body">
                <div>
                    <h3>{{ i.title }}</h3>
                    <p>{{ i.description }}</p>
                </div>
                <div>
                    {{ i.icon|safe }}
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="#">
                    Read more <i class="bi bi-arrow-right-circle"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- row for cardQuickInfo ends -->

<!-- row for orderStatus -->
<div class="row mt-4">
    <div class="col-lg-12">
        {% include 'dashboard/order_status.html' %}
    </div>
</div>

<!-- row -->
<div class="row mt-4">
    <div class="col-lg-8">
        <!-- internal_projects -->
        {% include 'dashboard/internal_projects.html' %}
    </div>

    <div class="col-lg-4 col-sm-12 col-xs-12">
        <!-- Visitors' Browser -->
        {% include 'dashboard/visitor_browser.html' %}

        <!-- recently added products -->
        {% include 'dashboard/recently_added_products.html' %}

        <!-- timeline -->

    </div>
</div>
{% endblock main_content %}