{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block main_content %}

{% include 'components/page-title.html' %}

<!-- row for cardQuickInfo -->
<div class="row mt-4 sm-mt-3" id="sectionDashboardQuickInfo">
    {% include 'dashboard/quick_info.html' %}
</div>
<!-- row for cardQuickInfo ends -->

<div class="row mt-4 sm-mt-0">
    <div class="col-lg-8">
        <!-- purhcase_sales_history -->
        {% include 'dashboard/purchase_sales_history.html' %}
        <!-- purhcase_sales_history ends -->

        <!-- internal_projects -->
        {% include 'dashboard/internal_projects.html' %}
        <!-- internal_projects ends -->

        <!-- user_demographics -->
        {% include 'dashboard/user_demographics.html' %}
        <!-- user_demographics ends -->
    </div>

    <div class="col-lg-4 col-sm-12 col-xs-12">
        <!-- visitors' browser -->
        {% include 'dashboard/visitor_browser.html' %}
        <!-- visitors' browser ends -->

        <!-- recently added products -->
        {% include 'dashboard/recently_added_products.html' %}
        <!-- recently added products ends -->
    </div>
</div>

<!-- row for order status -->
<div class="row mt-4 sm-mt-3">
    <div class="col-lg-12">
        {% include 'dashboard/order_status.html' %}
    </div>
</div>
<!-- row for order status ends -->
{% endblock main_content %}

{% block footer %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/user-demographics.js' %}"></script>
{% endblock footer %}