<div class="card mt-4 sm-mt-2">
    <div class="card-header py-3">
        <h4 class="m-0">Internal Projects</h4>
    </div>
    <div class="card-body">
        {% for project in internal_projects %}
        <p class="small d-flex justify-content-between">{{ project.title }} <span class="float-right">{{ project.completed_percentage }}%</span></p>
        <div class="progress mb-4">
            <div class="progress-bar {{ project.bg }}" role="progressbar" style="width: {{ project.completed_percentage }}%"></div>
        </div>
        {% endfor %}
    </div>
</div>