<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title">Recently added products</h4>
        {% for product in recently_added_products %}
        <div class="media">
            <img src="https://placehold.co/50x50.png" height="50px" width="50px" alt="">
            <div class="media-body">
                <h6 class="mt-0">
                    {{ product.title }}
                    <span>${{ product.price }}</span>
                </h6>
                <p>
                    {{ product.short_description }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>