<div class="card sm-mt-3">
    <div class="card-body">
        <h6 class="card-title">Visitors' Browser</h6>
        <div class="d-flex justify-content-center">
            <canvas id="visitorBrowser" style="height: 300; width: 300;"></canvas>
        </div>
        <!-- table  -->
        <table class="table table-responsive mt-4">
            {% for i in vistors_browser %}
            <tr>
                <td>
                    <i class="bi bi-circle-fill bg-dark me-2" style="color: {{ i.color }};"></i>
                    {{i.browser }}
                </td>
                <td>{{ i.visits }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>