{% extends 'base.html' %}

{% block main_content %}
<!-- page title -->
<div class="pageTitle pt-4 sm-pt-0">
    <h3>Blank Page</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Generate report</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>
<!-- page title ends -->

<div class="row mt-4">
    <div class="col">
        <p>
            This is the blank page example.
        </p>
    </div>
</div>
{% endblock main_content %}