{% load static %}
<nav id="mainSidebar" class="h-100">
    <div class="d-flex flex-column flex-shrink-0 p-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <!-- logo for LG screen -->
            <span class="fs-4 logo-lg only-d-lg">
                <img src="{% static 'img/logo-100x25.png' %}" alt="">
            </span>
            
            <!-- logo for SM screen -->
            <span class="fs-4 logo-sm only-d-sm">
                <img src="{% static 'img/logo-40x25.png' %}" alt="">
            </span>
            <!-- for SM screen - close -->
            <span class="d-sm-none" id="sidebarUntoggleBtn">
                <i class="bi bi-x-circle-fill"></i>
            </span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link active" aria-current="page">
                    <i class="bi bi-house-door-fill me-2"></i>
                    Home v.1
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class="bi bi-marker-tip me-2"></i>
                    Widgets
                </a>
            </li>
            <li>
                <a href="{% url 'products' %}" class="nav-link">
                    <i class="bi bi-table me-2"></i>
                    Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class="bi bi-ui-checks-grid me-2"></i>
                    Forms
                </a>
            </li>
            <li>
                <a href="{% url 'charts' %}" class="nav-link">
                    <i class="bi bi-graph-up me-2"></i>
                    ChatJS
                </a>
            </li>
            <li>
                <a href="{% url 'blank_page' %}" class="nav-link">
                    <i class="bi bi-file-earmark-fill me-2"></i>
                    Blank Page
                </a>
            </li>

            <!-- accounts -->
            <p class="my-2 text-secondary text-small">ACCOUNTS</p>
            <li>
                <a href="{% url 'login' %}" class="nav-link">
                    <i class="bi bi-box-arrow-right me-2"></i>
                    Sign in
                </a>
            </li>
            <li>
                <a href="{% url 'profile' %}" class="nav-link">
                    <i class="bi bi-person-circle me-2"></i>
                    My Profile
                </a>
            </li>
            <li>
                <a href="{% url 'registration' %}" class="nav-link">
                    <i class="bi bi-at me-2"></i>
                    Registration
                </a>
            </li>

            <!-- others -->
            <p class="my-2 text-secondary text-small">OTHERS</p>
            <li>
                <a href="{% url '404' %}" class="nav-link">
                    <i class="bi bi-4-circle-fill me-2"></i>
                    404
                </a>
            </li>
            <li>
                <!-- "sys logs = timeline" -->
                <a href="{% url 'syslogs' %}" class="nav-link">
                    <i class="bi bi-body-text me-2"></i>
                    Sys Logs
                </a>
            </li>
            <li>
                <a href="{% url 'faq' %}" class="nav-link">
                    <i class="bi bi-person-raised-hand me-2"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="{% url 'documentation' %}" class="nav-link">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    Documentation
                </a>
            </li>
            <li>
                <a href="{% url 'profile_settings' %}" class="nav-link">
                    <i class="bi bi-gear me-2"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>