<div id="topNavigation" class="px-3 py-2">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <!-- nav-left, breadcrumb -->
            <a href="#"
                class="nav-left d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <i class="bi bi-list" id="sidebarToggleBtn"></i>
            </a>

            <!-- form -->
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <div class="input-group text-white">
                    <input type="text" class="form-control form-control-dark text-bg-dark text-white" value="search...">
                    <button class="btn" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>

            <!-- nav-right -->
            <div class="nav-right col-lg-auto my-2">
                <!-- nav -->
                <ul class="nav">
                    <!-- Email -->
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-envelope"></i>
                        </a>
                    </li>
                    <!-- notification -->
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-bell"></i>
                        </a>
                    </li>
                    <!-- gear -->
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-gear"></i>
                        </a>
                    </li>
                    <!-- expand -->
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-arrows-angle-expand"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>