{% extends 'base.html' %}

{% block title %}
System logs
{% endblock title %}

{% block main_content %}

{% include 'components/page-title.html' %}

<div class="row">
    <div class="col-md-6">
        <ul class="timeline">
            {% for log in syslogs %}
            <li>
                <p class="mb-0 d-flex justify-content-between w-100">
                    <span>
                        <i class="bi bi-calendar-check me-1"></i>{{ log.datestamp }}
                    </span>
                    <span>
                        <i class="bi bi-bookmark-dash-fill me-1"></i>{{ log.severity }}
                    </span>
                </p>
                <p>
                    <small>{{ log.message }}</small>
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock main_content %}