{% extends 'base.html' %}

{% block title %}
Products
{% endblock title %}

{% block main_content %}
<!-- breadcrumb -->
<!-- todo -->
<nav aria-label="breadcrumb" class="mt-4 sm-d-none d-none">
    <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}" class="fw-semibold text-decoration-none">
                <i class="bi bi-house-door-fill me-2"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#" class="fw-semibold text-decoration-none">
                Products
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            All products
        </li>
    </ol>
</nav>
<!-- breadcrumb ends -->

{% include 'components/page-title.html' %}

<!-- table -->
<div class="row sm-pt-0">
    <div class="col">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="table-responsive">
                    <table class="table overflow-scroll table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>SKU</th>
                                <th>Weight</th>
                                <th>Modified date</th>
                                <th>Supplier Id</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in products %}
                            <tr>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </td>
                                <td class="d-flex align-items-center">
                                    <img src="https://placehold.co/50x50.png" class="productImg me-2" alt="">
                                    <a href="#" class="text-white amj-a">
                                        {{ i.name }}
                                    </a>
                                </td>
                                <td>{{ i.category }} </td>
                                <td>${{ i.price }} </td>
                                <td>{{ i.stock }} </td>
                                <td>{{ i.weight }} </td>
                                <td>{{ i.last_update_date }}</td>
                                <td>{{ i.supplier_info.supplier_id }}</td>
                                <td>
                                    <a href="#" class="amj-a me-2" data-bs-toggle="modal" data-bs-target="#modalDetail">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                    <a href="#" class="amj-a me-2" data-bs-toggle="modal" data-bs-target="#modalEdit">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a href="#" class="amj-a me-2" data-bs-toggle="modal"
                                        data-bs-target="#modalDeleteConfirmation">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- pagination -->
                <style></style>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center my-3">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- pagination ends -->
            </div>
        </div>
    </div>
</div>
<!-- table ends -->

<style>
    /* TODO: refactor */
    .modal-dark .modal-header {
        border-bottom: 1px solid var(--amj-border-primary-color);
    }

    .modal-dark .modal-footer {
        border-top: 1px solid var(--amj-border-primary-color);
    }
</style>

<!-- modal for detail -->
{% include 'modals/modal-detail.html' %}
<!-- modal for detail ends -->

<!-- modal for edit -->
{% include 'modals/modal-edit.html' %}
<!-- modal for edit ends -->

<!-- modal for delete -->
{% include 'modals/modal-delete-confirmation.html' %}
<!-- modal for delete ends -->

{% endblock main_content %}